.createPage {
  width: 50%;
  margin: auto;
}

.center {
  width: 535px;
  margin: auto;
}

.groupedRubricBlock {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 20px 20px;
}

.groupedRubricBlock p {
  margin: 10px 0px;
}

.groupedRubricBlock p:last-child {
  margin: 10px 0px 0px 0px;
}

.rubricCategory {
  font-weight: bold;
}

/* Import Button */

label[for="upload"] {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: #7C4DFF;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

label[for="upload"]::before {
  content: "Choose File";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.sendButton {
  background-color: #7C4DFF;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-bottom: 20px;
}