.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.largeText {
  margin-top: 40%;
  font-size: 2.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  display: inline-block;
  margin: 0 1rem;
  padding: 1rem 2rem;
  border: 2px solid #7C4DFF;
  border-radius: 0.5rem;
  color: #7C4DFF;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #7C4DFF;
  color: white;
}

