.userPage {
  width: 85%;
  height: 800px;
  margin: 2% auto;
  /* background-color: red; */
}


.category-items {
  list-style: none;
  display: flex;
  font-size: 18px;
}


.categoryButton {
    margin-right: 20px;
}

/* CritiqueBox */

.critiqueBox {
    width: 80%;
    margin: 15px auto;
}

.critiqueBox p{
  margin: 0px;
}

#annotatedImg {
  width : 53vw;
  height:35vw;
  border: 2px solid black;
  margin-bottom: 20px;
  float: left;
}
.commentBox {
  
}

#commentForm p {
  margin: 0px 15%;
  font-weight: bold;
}


#commentArea {
  margin: 5px 15% 20px 15%;
  height: 150px;
  width: 70%;
  border: 2px solid black;
  border-radius: 4px;
  resize: none;
}

.checkBox{
    margin-right: 20px;
}

/*Available Categories, Comment, Location*/
.toolBarMenu {
  list-style: none;
  display: flex;
  font-size: 18px;
}

.toolBarMenu li {
  margin: 0px 20px;
}

/* pdf, img, ... */

.docView {
  width: 60%; 
  height: 100%;
  max-height: 100%;
  float: left;
  /* border: 2px solid red; */
}

.fileView {
  height: 65%;
  border: 2px solid black;
  overflow-y: auto;
}

.react-pdf__Page__canvas {
  min-width: none;
  width: 100% !important;
  height: auto !important;
  border-bottom: 1px solid black; /* Add a margin between pages */
}

.react-pdf__Page__textContent,
.react-pdf__Page__annotations, .annotationLayer,
.textLayer {
  display: none;
}

#toolbar {
  display: none;
}

/* RubricBox components */
.rubricBox {
  border: 2px solid black;
  float: right;
  overflow-y: scroll;
  margin-bottom: 20px;
  border-radius: 10px;
  width : 30vw;
  height:42vw;
}

.category {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.category ul {
  list-style: none;
}

.category ul li button {
  margin: 0px 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1px 6px 3px 6px;
  font-weight: bold;
}

/* Hide file button */
input[type="file"] {
  display: none;
}

/* Import Button

label[for="upload"] {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: #0077cc;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

label[for="upload"]::before {
  content: "Choose File";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
} */
.email{
  width: 50%;
  color: black;
  
}
/* .box{
  border: 2px solid red;
  width: 220px;
  margin: 20px;
  padding: 30px;
  background: black;
  color: white;

} */

.buttin{
  border-radius: 25px;
  background: blue;
  padding: 5px;
  width: 300px;
  height: 50px;
  font-weight: bold;
  color: white;
  
}
.borde{
  width: 300px;
  border: 15px black;
  padding: 25px;
  margin: 20px;
  background-color: #0077cc;
  border-radius: 30px;

}
.txtb{
  
  border-radius: 20px;
  
 
  padding: 5px;
  margin: 5px;
}
.txtb1{
  height: 20px;
  width: 250px;
  
  border-radius: 20px;
  background: white;
  padding: 5px;
  margin: 5px;
}
.cen{
  text-align: center;
  color: white;
}


.exportButton {
  background-color: #7C4DFF;
  color: white;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin: 10px 10px 20px 20px;
}