/*
 *
 *          GENERAL 
 *
*/

html {
  overflow-x: hidden;
}

.generalButton {
  background-color: #7C4DFF;
  color: white;
  border: 1px solid #7C4DFF;
  padding: 5px 10px;
  border-radius: 4px !important;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/*
 *
 *          SCROLLBAR
 *
*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* height of horizontal scroll */
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: #3d3c3d;
}

/*
 *
 *          RATING BUTTONS
 *
*/

#one {
  background-color: #3c43ac;
  display: inline-block;
  margin: .1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  transition: all 150ms ease-in-out 0s;
  border: none;

}

/*

display for #1
*/

#one:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(35, 38, 105);
  box-shadow: rgba(16, 10, 118, 0.4) 0px 2px 3px;
}

/*
display for #one:hover
*/

/*
display for #one:hover
*/

#two {
  background-color: #80add7;
  display: inline-block;
  margin: .1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  transition: all 150ms ease-in-out 0s;
  border: none;
}

/*
display for #2
*/

/*
display for #2
*/

#two:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(101, 131, 187);
  box-shadow: rgba(95, 92, 158, 0.4) 0px 2px 3px;
}

/*
display for #two:hover
*/

#three {
  background-color: #b3b3b5;
  display: inline-block;
  margin: .1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  transition: all 150ms ease-in-out 0s;
  border: none;
}

/*
display for three
*/

#three:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(147, 147, 147);
  box-shadow: rgba(182, 182, 182, 0.4) 0px 2px 3px;
}

/*
display for three:hover
*/
#four {
  background-color: #e9a3a3;
  display: inline-block;
  margin: .1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  transition: all 150ms ease-in-out 0s;
  border: none;

}

/*
display for four 
*/


#four:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(222, 137, 137);
  box-shadow: rgba(247, 165, 165, 0.4) 0px 2px 3px;
}


#five {
  background-color: #c41010;
  display: inline-block;
  margin: .1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  transition: all 150ms ease-in-out 0s;
  border: none;

}

/*
Display for five box
*/

#five:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(153, 11, 11);
  box-shadow: rgba(146, 15, 15, 0.4) 0px 2px 3px;
}

/*
 *
 *          PDF / CANVAS
 *
*/

.userPage {
  position: relative;
  height: 100%;
}

.docView {
  position: absolute;
  left: 0;
  top: 0;
  width: 78%;
  height: 100%;
}

/*
Display for docView
*/

.fileView {
  width: 100%;
  height: 100vh;
  border-right: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
}

.react-pdf__Page__canvas {
  min-width: none;
  width: 100% !important;
  height: auto !important;
  border-bottom: 1px solid gray;
  background-color: white;
}

.react-pdf__Page canvas:last-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.25;
}

.react-pdf__Page__textContent,
.react-pdf__Page__annotations,
.annotationLayer,
.textLayer {
  width: 90% !important;
}

/*
 *
 *          RUBRIC COMPONENTS
 *
*/

.rubricBoxContainer {
  position: fixed;
  padding: 0px 10px;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rubricBox {
  overflow-y: scroll;
  flex-grow: 1;
}

/*
Display for rubricBox 
*/


.category {
  border-radius: 10px;
  padding: 5px 0px;
}

.category:not(:first-child) {
  margin-left: 20px;
}

.category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category ul li {
  margin-left: 40px;
}

.category ul li button {
  display: inline-block;
  margin: 0 .5rem;
  background-color: white;
  color: #7C4DFF;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 2rem;
}

.category ul li button:hover {
  color: #ffffff;
  background-color: #7C4DFF;

}

.categoryButton {
  border: 1px solid #7C4DFF;
  border-radius: 5px;
  padding: 1px 6px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: #7C4DFF;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categoryButton:hover {
  color: white;
  background-color: #7C4DFF;
}

.category-items {
  list-style: none;
  display: flex;
  font-size: 18px;

}

#toolbar {
  display: none;
}

/*Available Categories, Comment, Location*/
.toolBarMenu {
  list-style: none;
  display: flex;
  font-size: 24px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*
 *
 *          COMMENT BOX
 *
*/

.critiqueBoxContainer {
  width: 100%;
  height: 35%;
  margin: 0 0 0 2rem;
}

.critiqueBox {
  width: 70%;
  margin: 0px;
}

.critiqueBox h4 {
  margin: 5px 0;
}

#commentArea {
  margin: 10px 0;
  padding: 10px;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #7C4DFF;
  ;
  box-shadow: 0px 3px 5px -2px #708090;
  border-radius: 5px;
  resize: none;
  transition: box-shadow 0.15s ease;
}

#commentArea:focus {
  outline: none;
}

.plus {
  border: none !important;
  background-color: white;
  text-align: center;
  line-height: 20px;
  color: #7C4DFF;
  font-weight: bold;
  font-size: 16px !important;
  vertical-align: top;
}

.commentBoxButtons {
  margin: 0 3%;
}



/*
 *
 *          HOVER / TOOLTIP
 *
*/

.tooltip {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5%;
}

.alignRatingContainer {
  width: 100%;
  display: inline-block;
}

.tooltip h4 {
  margin: 0 0 0 20px;
}

.tooltip a:hover {
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  background-color: #818181;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 0 0 0 20px;
  z-index: 1;
  bottom: 100%;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

#buttonGen {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.commentRt {
  margin: .1rem !important;
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(255, 255, 255);
  transition: all 150ms ease-in-out 0s;
  border-radius: 0 !important;
}

/*
 *
 *          PAGE NAVIGATION
 *
*/

/* export button, it is a link that looks like a button */

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid gray;
}

.csvLink {
  text-decoration: none;
  background-color: #7C4DFF;
  color: white;
  border: 2px solid #7C4DFF;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.csvLink:hover {
  background-color: white;
  color: #7C4DFF;
}

.pageNavigation {
  align-self: flex-start;
  /* Add this */
}

.leftButton {
  background-color: #7C4DFF;
  color: white;
  border: 2px solid #7C4DFF;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.leftButton:hover {
  background-color: white;
  color: #7C4DFF;
}

.rightButton {
  background-color: #7C4DFF;
  color: white;
  border: 2px solid #7C4DFF;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.rightButton:hover {
  background-color: white;
  color: #7C4DFF;
}

#annotatedImg {
  width: 53vw;
  height: 35vw;
  border: 2px solid black;
  margin-bottom: 20px;
  float: left;
}

/* Hide file button */
input[type="file"] {
  display: none;
}

/* No uploads/ dir css */

.directoryNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.noUploadViscrit {
  font-size: 6em;
  font-weight: bold;
  color: #7C4DFF;
  margin-bottom: 0;
}

.noUploadText {
  color: #7C4DFF;
  font-size: 1.5em;
  margin-top: 0;
}

.uploadButton {
  background-color: #fff;
  color: #7C4DFF;
  border: 2px solid #9f82ec;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.uploadButton:hover {
  background-color: #7C4DFF;
  color: #fff;
}

.logo {
  color: #c5b0ff;
  font-size: 20px;
  font-weight: 900;
}