.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 200px;
}

.nav-items {
    list-style: none;
    display: flex;
    font-size: 24px;
}

.nav-items > li {
    padding:40px;
}

.category-items {
    list-style: none;
    display: flex;
    font-size: 18px;
}

.category-items > li{
    padding: 60px;
}

.mainBody {
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.component{
    flex:1;
    height: 700px;
    border: 2px solid black;
}
.component:first-child{
    flex-grow: 1.5;
    margin-right: 20px;
}